[Unit]
Description=Adaptive Virtual Display
After=graphical.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/enable-virtual-display.sh

[Install]
WantedBy=graphical.target
